*{
    margin: 0px;
    padding:0px;
}
.gameInfo{
   display: inline-block;
   width: 360px;
   padding: 13px 10px;

}
nav{
    display: flex;
    color:skyblue;
    height: 60px; 
    background-size: contain;  
    
    background-color: rgb(12, 15, 45);
   
}
nav ul{
     list-style-type: none;
    display: inline;
     
    background-color: rgb(12, 15, 45);

     
}

.gameContainer{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    top: 50px;
    
}
.container{
    display: grid;
    margin-top:80px ;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    font-family: 'Varela Round', sans-serif;
}
.box{
    display: flex;
    border: 3px solid black;
    font-size: 8vw;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.box:hover{
    background-color: rgb(199, 241, 203);
}
.borderRight0{
    border-right: 0;
}
.borderLeft0{
border-left: 0;
}
.borderTop0{
border-top: 0;
}
.borderBottom0{
border-bottom: 0;
}
#reset{
    margin-left:30px; 
    padding: 7px;
    
    width: 70px;
    font-size: 1.1rem;
    font-family: 'Varela Round', sans-serif;
    border: 3px solid rgb(168, 160, 242);
    color:rgb(168, 160, 242) ;
    background-color: rgb(23, 26, 57);
    border-radius: 10px;
    cursor:pointer;
    font-weight: bold;
}
#reset:hover{

color:rgb(113, 101, 223);
border:3px solid rgb(113, 101, 223);
}
.info{
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5rem ; 
    color: beige;
    font-weight: bold;
    padding: 3px 13px;
    background-color: rgb(112, 70, 112);
    text-align: center;
    width: 150px;
    float: left;
    border-radius: 10px;
}
@media screen and (max-width:950px){
    .container{
        font-weight: bold;
        grid-template-columns: repeat(3,24vw);
        grid-template-rows: repeat(3,24vw);
    }
    
    
}